ion-header {
    ion-img {
      width: 100%;
      height: 70px;
    }
  
    ion-toolbar {
      --background: transparent;
      --ion-color-base: transparent !important;

      ion-icon {
        padding-right: 10px;
        font-size: 24px;
      }
    }
  }
  