.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-avatar {
        height: 200px;
        width: 200px;
        ion-icon {
            position: absolute;
            top: 140px;
            right: 110px;
            font-size: 38px;
            color: var(--ion-color-purple);
        }
    }

    ion-card {
        width: 90%;
    }
}