ion-list {
    background-color: var(--ion-color-header);
  
    ion-card {
        --background: var(--ion-color-header);
        border: 0;
        box-shadow: none;
        margin: 0;
        padding: 0;
        
        img {
            border-radius: 4px;
            width: 100%;
        }
        
        span {
            color: var(--ion-color-app);
            font-size: 14px;
            font-weight: 200;
        }
        
        ion-card-content {
            .content-wrapper {
                display: flex;
                flex-direction: row;
                
                ion-icon {
                    color: var(--ion-color-app);
                     font-size: 20px;
                }
                
                span {
                    margin-left: 10px;
                }
            }
        }
    }
}

  