<ion-list class="list-wrapper" *ngIf="pets">
  <ion-card *ngFor="let pet of pets.docs">
      <ion-card-header>
          <img [src]="'data:image/png;base64, ' + pet.foto | safeUrl"/>
      </ion-card-header>
      <ion-card-content *ngIf="isLogged">
          <div class="content-wrapper">
              <ion-icon [name]="pet.favorite ? 'heart' : 'heart-outline'" (click)="handleFavorite(pet)" ></ion-icon> <span>Liked</span>
          </div>
      </ion-card-content>
  </ion-card>
</ion-list>
<ion-infinite-scroll threshold="30%" (ionInfinite)="loadMoreData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mascotas ...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>