<app-header></app-header>

<ion-content [fullscreen]="true">
    <ion-title *ngIf="pets.length !== 0">Mis favoritos</ion-title>

    <ion-list *ngIf="pets.length !== 0" class="list-wrapper">
        <ion-card *ngFor="let pet of pets">
            <ion-card-content>
                <ion-badge>
                    <ion-icon name="close-circle-outline" (click)="deleteFavorite(pet._id)"></ion-icon>
                </ion-badge>
                <img [src]="'data:image/png;base64, ' + pet.foto | safeUrl" />
            </ion-card-content>
        </ion-card>
    </ion-list>

    <div *ngIf="pets.length === 0" class="empty-wrapper">
        <span class="not-found-text">No se encontraron datos :(</span>
    </div>

</ion-content>