.empty-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    span {
        color: var(--ion-color-app);
        font-size: 28px;
    }

}

ion-badge {
    left: 88%;
    position: absolute;
    top: -2px;
    --background: transparent;
    
    ion-icon {
        font-size: 36px;
        color: var(--ion-color-app);
    }

}