<app-header iconName="petgram_favoritos"></app-header>

<ion-content [fullscreen]="true">
    <ion-list *ngIf="pets.length !== 0" class="list-wrapper">
        <ion-card *ngFor="let pet of pets">
            <ion-card-content>
                <ion-badge (click)="deleteFavorite(pet._id)">
                    <ion-icon name="trash"></ion-icon>
                </ion-badge>
                <img [src]="'data:image/png;base64, ' + pet.foto | safeUrl" />
            </ion-card-content>
        </ion-card>
    </ion-list>

    <app-empty-result *ngIf="pets.length === 0"></app-empty-result>>

</ion-content>