ion-badge {

    @media only screen and (device-width: 280px) {
        left: 84vw;
    }

    @media only screen and (device-width: 768px) {
        left: 93vw;
    }
      
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
        left: 93vw;
    }
      
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        left: 93vw;
    }

    left: 88vw;
    position: absolute;
    top: 10px;
    --background: transparent;
    
    
    ion-icon {
        color: var(--ion-color-purple);
        font-size: 32px;

        @media only screen and (device-width: 280px) {
            font-size: 28px;
        }

        @media only screen and (device-width: 768px) {
            font-size: 44px;
        }
          
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
            font-size: 44px;
        }
          
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
            font-size: 44px;
        }

    }

}