.empty-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;

    span {
        color: var(--ion-color-app);
        font-size: 28px;
        text-align: center;
    }

}