<app-header></app-header>

<ion-content fullscreen>

    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let category of categories">
            <ion-avatar (click)="showCategory(category._id)">
                <img [src]="'data:image/png;base64, ' + category.foto | safeUrl" />
                <span>{{category.emoji}}</span>
            </ion-avatar>
        </ion-slide>
    </ion-slides>

    <ion-list *ngIf="pets">
        <ion-card *ngFor="let pet of pets.docs">
            <ion-card-header>
                <img [src]="'data:image/png;base64, ' + pet.foto | safeUrl"/>
            </ion-card-header>
            <ion-card-content>
                <div class="content-wrapper">
                    <ion-icon name="heart-outline"></ion-icon> <span>Likes {{pet.likes}}</span>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>
